# Leave this fields blank if you don't need them.

MONGODB_URL=<Paste your MongoDB remote URL here if any>
WW_SESSION=<Store your session details in JSON format here>
BOT_COMMAND=<specify other namespace instead of !miku for testing your bot or deploying>
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=<Set this to true while deploying>
CHROME_PATH=<path of chrome binary installed on heroku or of your local system while testing>
